name: Test Vault Conductor

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update_aur_package:
    name: Test Vault Conductor
    runs-on: ubuntu-24.04

    env:
      PROJECT_NAME: ${{ github.event.inputs.project_name }}
      SSH_AUTH_SOCK: "/tmp/vc-runner-ssh-agent.sock"
      BWS_ACCESS_TOKEN: ${{ secrets.BWS_ACCESS_TOKEN }}
      BW_SECRET_IDS: ${{ secrets.BW_SECRET_IDS }}
      BW_SERVER_ENDPOINT: ${{ secrets.BW_SERVER_ENDPOINT }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            submodules: recursive
            ref: main

      - name: Install vault-conductor
        run: |
            echo "$HOME/.local/bin" >> "$GITHUB_PATH"
            curl -sSL https://api.github.com/repos/pirafrank/vault-conductor/releases/latest | jq -r '.assets[] | select(.name | test("vault-conductor-.*-x86_64-unknown-linux-gnu\\.tar\\.gz")) | .browser_download_url' | xargs curl -sSL -o vault-conductor.tar.gz
            tar -xzf vault-conductor.tar.gz
            mkdir -p "$HOME/.local/bin"
            mv vault-conductor "$HOME/.local/bin/vault-conductor"

      - name: List /tmp
        run: |
            ls -la /tmp

      - name: Configure Git
        run: |
            git config user.name "Vault Conductor Action"
            git config user.email "noreply@github.com"
            git config commit.gpgsign true
            git config gpg.format ssh
            git config user.signingkey "${{ secrets.SSH_PUBLIC_SIGN_KEY }}"

      #- name: Setup tmate session
      #  uses: mxschmitt/action-tmate@v3

      - name: Test vault-conductor
        run: |
            echo $SSH_AUTH_SOCK
            vault-conductor start
            sleep 5  # give it time to start and write the socket file
            ls -la /tmp
            ssh-add -L
            ssh -T git@github.com || echo "SSH connection failed"

      - name: Test clone repository
        run: |
            mkdir -p ~/.ssh
            chmod 0700 ~/.ssh
            touch ~/.ssh/known_hosts
            chmod 0600 ~/.ssh/known_hosts
            ssh-keyscan -t rsa aur.archlinux.org >> ~/.ssh/known_hosts
            ssh-keyscan -t ed25519 aur.archlinux.org >> ~/.ssh/known_hosts
            git clone ssh://aur@aur.archlinux.org/poof-bin.git
