name: Test Vault Conductor

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update_aur_package:
    name: Test Vault Conductor
    runs-on: ubuntu-24.04

    env:
      SSH_AUTH_SOCK: "/tmp/vc-runner-ssh-agent.sock"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            submodules: recursive
            ref: main

      - name: Setup vault-conductor
        uses: ./.github/actions/vault-conductor
        with:
          bws_access_token: ${{ secrets.BWS_ACCESS_TOKEN }}
          bw_secret_ids: ${{ secrets.BW_SECRET_IDS }}
          bw_server_endpoint: ${{ secrets.BW_SERVER_ENDPOINT }}

      - name: List /tmp
        run: |
            ls -la /tmp

      - name: Configure Git
        run: |
            git config user.name "Francesco Pira"
            git config user.email "dev@fpira.com"
            git config commit.gpgsign true
            git config gpg.format ssh
            git config user.signingkey "${{ secrets.SSH_PUBLIC_SIGN_KEY }}"

      #- name: Setup tmate session
      #  uses: mxschmitt/action-tmate@v3

      - name: Test vault-conductor
        run: |
            ssh -T git@github.com || echo "SSH connection failed"

      - name: Test clone repository
        run: |
            mkdir -p ~/.ssh
            chmod 0700 ~/.ssh
            touch ~/.ssh/known_hosts
            chmod 0600 ~/.ssh/known_hosts
            ssh-keyscan -t rsa aur.archlinux.org >> ~/.ssh/known_hosts
            ssh-keyscan -t ed25519 aur.archlinux.org >> ~/.ssh/known_hosts
            git clone ssh://aur@aur.archlinux.org/poof-bin.git

      - name: Test commit and push
        run: |
            echo "test" > test.txt
            git add test.txt
            git commit -S -m "Test commit and push"
            git push
